
<div class="ui inverted menu">
  <a class="item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="#/legislators">
    立委
  </a>
  <a class="item" href="#/events">
    事件
  </a>
  <a class="active item" href="#/critiquers">
    議題關注者
  </a>


  <div class="right menu">
    <div class="item" ng-show="!user">
      <a href="#/login">登入</a>
    </div>
    <div class="item" ng-show="user">
      {{user.email}}
    </div>
    <div class="item" ng-show="user" ng-show="user">
      <a href="#/add-event" >新增事件</a>
    </div>
    <!--
    <div class="item" ng-show="user" ng-show="user">
      <a href="" ng-click="changePwdPanel()">修改密碼</a>
    </div>
    -->
    <div class="item" ng-show="user">
      <a href="" ng-click="logout()">登出</a>
    </div>
    <div class="item">
    </div>
  </div>


</div>

 <div class="ui segment">
   <p>收集議題關注者、NGO、NPO 的不推薦名單</p>
</div>


<div class="ui celled grid">
   <div class="row">
   	<div class="one wide column" style="">
   	 </div>

    <div class="eleven wide middle column" style="">

        <div class="left floated date">所有議題關注者提出的事件統計</div>
  <!-- Sort Tables -->
  <script type="text/javascript">
  $(function() {

		var table = $('<table></table>');
		table.append('<thead><tr><th class="number">Number</th></tr></thead>');
		var tbody = $('<tbody></tbody>');
		for(var i = 0; i<100; i++) {
			tbody.append('<tr><td>' + Math.floor(Math.random() * 100) + '</td></tr>');
		}
		table.append(tbody);
		$('.example.ex-2').append(table);

		$('table').tablesort().data('tablesort');

		$('thead th.number').data('sortBy', function(th, td, sorter) {
			return parseInt(td.text(), 10);
		});

	});
  </script>

       <table class="ui sortable table segment">
           <thead>
             <tr><th>No</th>
             <th>議題關注者</th>
             <th>環保</th>
             <th>勞工</th>
             <th>性別</th>
             <th>司法</th>
             <th>人權</th>
             <th>土地</th>
             <th>教育</th>
             <th>稅賦</th>
             <th>總計</th>
           </tr></thead>
           <tbody>
             <tr ng-repeat="n in critiquers">
               <td>{{($index+1)}}</td>
               <td><a href="#/critiquers/{{n.id}}"><img class="ui big avatar image" ng-src="{{n.logo}}">{{n.name}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/環保">{{n.CategorySum[0]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/勞工">{{n.CategorySum[1]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/性別">{{n.CategorySum[2]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/司法">{{n.CategorySum[3]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/人權">{{n.CategorySum[4]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/土地">{{n.CategorySum[5]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/教育">{{n.CategorySum[6]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}/稅賦">{{n.CategorySum[7]}}</a></td>
               <td><a href="#/critiquers/{{n.id}}">{{n.CategorySum[8]}}</a></td>
               </tr>
           </tbody>
        </table>
    </div>
    <div class="one wide column" style="">
   	</div>

  </div>
</div>


