   <div class="ui inverted menu">
  <a class="item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="#/legislators">
    立委
  </a>
  <a class="active item" href="#/events">
    事件
  </a>
  <a class="item" href="#/critiquers">
    議題關注者
  </a>

  <div class="right menu">
    <div class="item" ng-show="!user">
      <a href="#/login">登入</a>
    </div>
    <div class="item" ng-show="user">
      {{user.email}}
    </div>
    <div class="item" ng-show="user" ng-show="user">
      <a href="#/add-event" >新增事件</a>
    </div>
    <!--
    <div class="item" ng-show="user" ng-show="user">
      <a href="" ng-click="changePwdPanel()">修改密碼</a>
    </div>
    -->
    <div class="item" ng-show="user">
      <a href="" ng-click="logout()">登出</a>
    </div>
    <div class="item">
    </div>
  </div>

</div>

 <div class="ui segment">
   <p>收集議題關注者、NGO、NPO 的不推薦名單</p>
</div>


<div class="ui celled grid">
   <div class="row">
   	<div class="one wide column" style="">
   	 </div>
    <div class="one wide column" style="">
    	<div class="ui ribbon red label">名單選擇</div>
      <div class="ui tabular filter menu">
        <a class="active item" data-tab="black">blacklist</a>
      </div>
      <div class="ui divided selection list active tab" data-tab="black">
  <div class="active content menu">
    <div class="ui form item">
      <div class="grouped inline fields">
        <div class="field">
          <div class="ui checkbox listFilter">
            <input type="checkbox" checked="true" value="有疑慮">
            <label>有疑慮</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox listFilter">
            <input type="checkbox" checked="true" value="不推薦">
            <label>不推薦</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox listFilter">
            <input type="checkbox" checked="true" value="強烈反對">
            <label>強烈反對</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui ribbon red label">誰來把關：你想看誰的黑名單？</div>
<div class="ui basic vertical accordion menu">
  <div class="item">
    <a class="active title">
      <div class="ui checkbox critiquerAllFilter">
        <input type="checkbox" checked="ture">
        <label>所有</label>
      </div>
    </a>
  </div>

  <div class="item" ng-repeat="group in ngoList">
    <a class="active title">
      <i class="dropdown icon"></i>
      {{group.groupName}}
    </a>

    <div class="active content menu">
      <div class="ui form item">
        <div class="grouped inline fields" ng-repeat="ngo in group.groupMember">
          <div class="field">
            <div class="ui checkbox critiquerFilter">
              <input type="checkbox" checked="true" name={{ngo}} value="{{ngo}}">
              <label>{{ngo}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>



<div class="twelve wide middle column" style="">
  <div class="left floated date">
    瀏覽事件數：{{(events | filter:listFilter | filter:critiquerFilter | filter:topMenuFilter).length}}</div>
      <div class="ui menu">
        <a class="active gray item" value="">All</a>
        <a class="{{item.color}} item" ng-repeat="item in categories" value={{item.name}}>{{item.name}}</a>
      </div>


  <script type="text/javascript">
  $(function() {
    var table = $('<table></table>');
    table.append('<thead><tr><th class="number">Number</th></tr></thead>');
    var tbody = $('<tbody></tbody>');
    for(var i = 0; i<100; i++) {
      tbody.append('<tr><td>' + Math.floor(Math.random() * 100) + '</td></tr>');
    }
    table.append(tbody);
    $('.example.ex-2').append(table);

    $('table').tablesort().data('tablesort');

    $('thead th.number').data('sortBy', function(th, td, sorter) {
      return parseInt(td.text(), 10);
    });

  });
  </script>
      <table class="ui sortable table segment">
        <thead>
          <tr><th>日期</th>
            <th>分類</th>
            <th>名單</th>
            <th>事件</th>
            <th>影響</th>
            <th>來自</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="n in events | filter:listFilter | filter:critiquerFilter | filter:topMenuFilter" >
            <td>{{n.date}}</td>
            <td><a class='ui {{n.color}} mini label'>{{n.category}}</a></td>
            <td>{{n.list}}</td>
            <td><a href="#/event/{{n.id}}">{{n.name}}</a></td>
            <td>{{n.abstract}}</td>
            <td><a href="#/critiquers/{{n.ngoId}}">{{n.ngo}}</a></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="one wide column" style="">
   	</div>

  </div>
</div>





