 <div class="ui inverted menu">
  <a class="item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="people.html">
    立委
  </a>
  <a class="active item" href="event.html">
    事件
  </a>
  <a class="item" href="critiall.html">
    議題關注者
  </a>

  <div class="right menu">
    <div class="item">
      <div class="ui mini icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

</div>

 <div class="ui segment">
   <p>收集議題關注者、NGO、NPO 的不推薦名單</p>
</div>


<div class="ui celled grid">
   <div class="row">
   	<div class="one wide column" style="">
   	 </div>
    <div class="one wide column" style="">
    	<div class="ui ribbon red label">名單選擇</div>

<div class="ui tabular filter menu">
        <a class="active item" data-tab="black">blacklist</a>

</div>
<div class="ui divided selection list active tab" data-tab="black">
	 <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
               	<div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>有疑慮</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>不推薦</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group2">
                     <label>強烈反對</label>
                   </div>
                 </div>
               </div>

             </div>
           </div>
</div>


      <div class="ui ribbon red label">誰來把關：你想看誰的黑名單？</div>
    	<div class="ui basic vertical accordion menu">
    		 <div class="item">
    		  <a class="active title">
              <div class="ui checkbox">
              <input type="checkbox" name="small">
              <label>所有</label>
              </div>
          </a>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
              環保
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
               	<div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>所有</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>綠盟</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group2">
                     <label>地球公民</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group3">
                     <label>環盟</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group4">
                     <label>主婦聯盟</label>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
             土地
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>農陣</label>
                   </div>
                 </div>

               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
             性別
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>所有</label>
                   </div>
                    <div class="field">
                     <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>婦女新知</label>
                     </div>
                   </div>
                   <div class="field">
                     <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>台女連</label>
                     </div>
                   </div>
                 </div>

               </div>

             </div>
           </div>
         </div>

      </div>

         <a class="ui mini red button">看結果</a>

    </div>


    <div class="ten wide middle column" style="">
      <div class="left floated date">瀏覽所有的事件</div>

      <table class="ui sortable table segment">
        <thead>
          <tr><th>日期</th>
            <th>分類</th>
            <th>名單</th>
            <th>事件</th>
            <th>影響</th>
            <th>來自</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="n in events">
            <td>{{n.date}}</td>
            <td><a class='ui {{n.color}} mini label'>{{n.category}}</a></td>
            <td>{{n.list}}</td>
            <td><a href="#/list/{{n.id}}">{{n.name}}</a></td>
            <td>{{n.abstract}}</td>
            <td>{{n.ngo}}</td>
          </tr>
        </tbody>
      </table>
      <a href="add-event.html">新增事件</a>
    </div>
    <div class="one wide column" style="">
   	</div>

  </div>
</div>





