
<div class="ui inverted menu">
  <a class="active item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="#/legislators">
    立委
  </a>
  <a class="item" href="#/events">
    事件
  </a>
  <a class="item" href="#/critiquers">
    議題關注者
  </a>

  <div class="right menu">
   <div class="item" ng-show="user">
      {{user.email}}
    </div>
    <div class="item" ng-show="user" ng-show="user">
      <a href="#/add-event" >新增事件</a>
    </div>
    <div class="item" ng-show="user" ng-show="user">
      <a href="" ng-click="changePwdPanel()">修改密碼</a>
    </div>
    <div class="item" ng-show="user">
      <a href="" ng-click="logout()">登出</a>
    </div>
    <div class="item">
    </div>
  </div>

</div>

<div class="ui three column relaxed grid">
<div class="column"></div>
<div class="column">
  <div class="ui fluid form segment">
    <h3 class="ui header">Log-in</h3>
    <div class="field">
          <label>電子郵件</label>
          <input type="text" placeholder="例如: somebody@somehost.com" ng-model="account">
    </div>
    <div class="field">
           <label>密碼</label>
          <input type="password" placeholder="" ng-model="password">
    </div>
    <div class="ui submit small teal button" ng-click="login()">登入</div>
  </div>
</div>
<div class="column"></div>
</div>
<center><p>測試帳號：ccw@ccw.org.tw / ccw </p></center>

<div class="ui modal" id="changePwd-panel">
  <i class="close icon"></i>
  <div class="header">
    修改密碼
  </div>
  <div class="content">
    <div class="ui form segment">
       <div class="field">
          <label>電子郵件</label>
          <input type="text" value={{account}} ng-model="account">
       </div>
       <div class="field">
          <label>原密碼</label>
          <input type="password" placeholder="" ng-model="oldPassword">
       </div>
       <div class="field">
          <label>新密碼</label>
          <input type="password" placeholder="" ng-model="newPassword">
       </div>
       <div class="field" style="text-align: center">
         <div class="ui buttons">
           <div class="ui small teal button" ng-click="changePwd()">確認修改</div>
         </div>

       </div>
  </div>
</div>

