
<div class="ui inverted menu">
  <a class="active item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="#/legislators">
    立委
  </a>
  <a class="item" href="#/events">
    事件
  </a>
  <a class="item" href="#/critiquers">
    議題關注者
  </a>

  <div class="right menu">
    <div class="item" ng-click="loginPanel()" ng-show="!user">
      登入
    </div>
    <div class="item" ng-show="user">
      {{user.email}}
    </div>
    <div class="item" ng-show="user" ng-click="logout()">
      登出
    </div>
    <div class="item">
      <div class="ui mini icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

</div>

 <div class="ui segment">
   <p>收集議題關注者、NGO、NPO 的不推薦名單</p>
</div>


<div class="ui celled grid">
  <div class="row">
    <div class="one wide column" style="">
    </div>
    <div class="one wide column" style="">
      <div class="ui ribbon red label">名單選擇</div>
      <div class="ui tabular filter menu">
        <a class="active item" href="#/rank">blacklist</a>
        <a class="item" href="#/rank/white">whitelist</a>
      </div>

      <div class="ui divided selection list active tab" data-tab="black">
        <div class="active content menu">
          <div class="ui form item">
            <div class="grouped inline fields">
              <div class="field">
                <div class="ui checkbox listFilter">
                  <input type="checkbox" checked="true" value="有疑慮">
                  <label>有疑慮</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox listFilter">
                  <input type="checkbox" checked="true" value="不推薦">
                  <label>不推薦</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox listFilter">
                  <input type="checkbox" checked="true" value="強烈反對">
                  <label>強烈反對</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="ui ribbon red label">誰來把關：你想看誰的黑名單？</div>
      <div class="ui basic vertical accordion menu">
        <div class="item">
          <a class="active title">
            <div class="ui checkbox critiquerAllFilter">
              <input type="checkbox" checked="ture">
              <label>所有</label>
            </div>
          </a>
        </div>

        <div class="item" ng-repeat="group in ngoList">
          <a class="active title">
            <i class="dropdown icon"></i>
            {{group.groupName}}
          </a>

          <div class="active content menu">
            <div class="ui form item">
              <div class="grouped inline fields" ng-repeat="ngo in group.groupMember">
                <div class="field">
                  <div class="ui checkbox critiquerFilter">
                    <input type="checkbox" checked="true" name={{ngo}} value="{{ngo}}">
                    <label>{{ngo}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="ten wide middle column" style="">

          <div class="left floated">立委上榜次數一覽表</div>
  <script type="text/javascript">
  $(function() {
		var table = $('<table></table>');
		table.append('<thead><tr><th class="number">Number</th></tr></thead>');
		var tbody = $('<tbody></tbody>');
		for(var i = 0; i<100; i++) {
			tbody.append('<tr><td>' + Math.floor(Math.random() * 100) + '</td></tr>');
		}
		table.append(tbody);
		$('.example.ex-2').append(table);

		$('table').tablesort().data('tablesort');

		$('thead th.number').data('sortBy', function(th, td, sorter) {
			return parseInt(td.text(), 10);
		});

	});
  </script>


      <table class="ui sortable table segment">
           <thead>
             <tr><th>No</th>
             <th>立委</th>
             <th>環保</th>
             <th>勞工</th>
             <th>性別</th>
             <th>司法</th>
             <th>人權</th>
             <th>土地</th>
             <th>教育</th>
             <th>稅賦</th>
             <th>總計</th>
           </tr></thead>
           <tbody >
             <tr ng-repeat="n in legislators">
               <td>{{($index+1)}}</td>
               <td><a href="#/legislators/{{n.id}}"><img class="ui big avatar image" ng-src="{{n.avatar}}">{{n.name}}</a></td>
               <!-- <td><a href="#/legislators/{{n.id}}/環保">{{n.listSum.environment}}</a></td> -->

<td><a href="#/legislators/{{n.id}}/環保">{{(events[n.id][0]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/勞工">{{(events[n.id][1]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/性別">{{(events[n.id][2]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/司法">{{(events[n.id][3]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/人權">{{(events[n.id][4]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/土地">{{(events[n.id][5]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/教育">{{(events[n.id][6]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}/稅賦">{{(events[n.id][7]|filter:critiquerFilter|filter:listFilter).length}}</a></td>
<td><a href="#/legislators/{{n.id}}">
    {{(events[n.id][0]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][1]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][2]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][3]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][4]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][5]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][6]|filter:critiquerFilter|filter:listFilter).length +
      (events[n.id][7]|filter:critiquerFilter|filter:listFilter).length}}

</a></td>
             </tr>
           </tbody>
        </table>








      </div>
   <div class="one wide column" style="">
   	</div>

  </div>
</div>

<div class="ui modal" id="login-panel">
  <i class="close icon"></i>
  <div class="header">
    登入
  </div>
  <div class="content">
    <div class="ui form segment">
       <div class="field">
          <label>電子郵件</label>
          <input type="text" placeholder="例如: somebody@somehost.com" ng-model="account">
       </div>
       <div class="field">
          <label>密碼</label>
          <input type="password" placeholder="" ng-model="password">
       </div>
       <div class="field" style="text-align: center">
         <div class="ui buttons">
           <div class="ui button" ng-click="login()">登入</div>
           <div class="or"></div>
           <div class="ui positive button" ng-click="signup()">註冊</div>
         </div>
       </div>
  </div>
  <div class="actions">
    <div class="ui button">取消</div>
  </div>
</div>

