
<div class="ui inverted menu">
  <a class="active item" href="index.html">
    <i class="thumbs down outline icon"></i> The Blacklist
  </a>
  <a class="item" href="#/legislators">
    立委
  </a>
  <a class="item" href="#/events">
    事件
  </a>
  <a class="item" href="#/critiquers">
    議題關注者
  </a>

  <div class="right menu">
    <div class="item" ng-click="loginPanel()" ng-show="!user">
      登入
    </div>
    <div class="item" ng-show="user">
      {{user.email}}
    </div>
    <div class="item" ng-show="user" ng-click="logout()">
      登出
    </div>
    <div class="item">
      <div class="ui mini icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

</div>

 <div class="ui segment">
   <p>收集議題關注者、NGO、NPO 的不推薦名單</p>
</div>


<div class="ui celled grid">
   <div class="row">
   	<div class="one wide column" style="">
   	 </div>
    <div class="one wide column" style="">
    	<div class="ui ribbon red label">名單選擇</div>
<div class="ui tabular filter menu">
        <a class="item" href="#/rank">blacklist</a>
        <a class="active item" href="#/rank/white">whitelist</a>
</div>
<div class="ui divided selection list active tab" data-tab="white">
	 <div class="content menu">
        <div class="ui form item">
        	選擇 whitelist，右方將顯示不在黑名單上的立委有哪些。目前顯示範圍：第八屆立委。
        </div>
   </div>
</div>


      <div class="ui ribbon red label">誰來把關：你想看誰的黑名單？</div>
    	<div class="ui basic vertical accordion menu">
    		 <div class="item">
    		  <a class="active title">
              <div class="ui checkbox">
              <input type="checkbox" name="small">
              <label>所有</label>
              </div>
          </a>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
              環保
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
               	<div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>所有</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group1">
                     <label>綠盟</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group2">
                     <label>地球公民</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group3">
                     <label>環盟</label>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="group4">
                     <label>主婦聯盟</label>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
             土地
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>農陣</label>
                   </div>
                 </div>

               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <a class="active title">
             <i class="dropdown icon"></i>
             性別
           </a>
           <div class="active content menu">
             <div class="ui form item">
               <div class="grouped inline fields">
                 <div class="field">
                   <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>所有</label>
                   </div>
                    <div class="field">
                     <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>婦女新知</label>
                     </div>
                   </div>
                   <div class="field">
                     <div class="ui checkbox">
                     <input type="checkbox" name="small">
                     <label>台女連</label>
                     </div>
                   </div>
                 </div>

               </div>

             </div>
           </div>
         </div>

      </div>

         <a class="ui mini red button">看結果</a>

    </div>


    <div class="ten wide middle column" style="">

      <div class="left floated">未上榜立委次數一覽表</div>
      <script type="text/javascript">
        $(function() { var table = $('<table></table>');
            table.append('<thead><tr><th class="number">Number</th></tr></thead>');
            var tbody = $('<tbody></tbody>');
            for(var i = 0; i<100; i++) {
            tbody.append('<tr><td>' + Math.floor(Math.random() * 100) + '</td></tr>');
            }
            table.append(tbody);
            $('.example.ex-2').append(table);

            $('table').tablesort().data('tablesort');

            $('thead th.number').data('sortBy', function(th, td, sorter) {
              return parseInt(td.text(), 10);
              });

            });
</script>


      <table class="ui sortable table segment">
           <thead>
             <tr><th>No</th>
             <th>立委</th>
             <th>環保</th>
             <th>勞工</th>
             <th>性別</th>
             <th>司法</th>
             <th>人權</th>
             <th>土地</th>
             <th>教育</th>
             <th>稅賦</th>
             <th>總計</th>
           </tr></thead>
           <tbody >
             <tr ng-repeat="n in legislators">
               <td>{{($index+1)}}</td>
               <td><a href="#/legislators/{{n.id}}"# target="_blank"><img class="ui big avatar image" src="{{n.avatar}}">{{n.name}}</a></td>
               <!----------------------------->
               <!--
                   <td ng-repeat="v in n.committees">{{v.v}}</td>
                   -->
             </tr>
           </tbody>
        </table>
    <div class="one wide column" style="">
   	</div>

  </div>
</div>

<div class="ui modal" id="login-panel">
  <i class="close icon"></i>
  <div class="header">
    登入
  </div>
  <div class="content">
    <div class="ui form segment">
       <div class="field">
          <label>電子郵件</label>
          <input type="text" placeholder="例如: somebody@somehost.com" ng-model="account">
       </div>
       <div class="field">
          <label>密碼</label>
          <input type="password" placeholder="" ng-model="password">
       </div>
       <div class="field" style="text-align: center">
         <div class="ui buttons">
           <div class="ui button" ng-click="login()">登入</div>
           <div class="or"></div>
           <div class="ui positive button" ng-click="signup()">註冊</div>
         </div>
       </div>
  </div>
  <div class="actions">
    <div class="ui button">取消</div>
  </div>
</div>

